@import "tailwindcss";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000000;
  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
}

/* Gradient and Layer blur effect */
.image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;
}

.tag-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #656565,
    #7f42a7,
    #6600c5,
    #5300a0,
    #757575,
    #656565
  );
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

.tag:hover {
  color: #5300a0;
}
.tag {
  position: absolute;
  inset: 3px 3px 3px 3px;
  background-color: #0b1014;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.title {
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}
/* ---------- */

.perspective {
  perspective: 1500px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
